.room {
  height: 100%;
  margin: 0;
  text-align: center;
  padding: 50px;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}

button {
  margin: 10px;
  padding: 10px;
}